* {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  width: 100%;
  background: #fff; }
  #header .inner {
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    position: relative; }
    #header .inner h1 {
      position: absolute;
      left: 0;
      bottom: 20px;
      font: bold 18px/1 'arial';
      color: #555; }

#visual {
  width: 100%;
  background: hotpink; }
  #visual .inner {
    width: 1180px;
    height: 100vh;
    margin: 0 auto;
    position: relative; }
    #visual .inner p {
      width: 400px;
      height: 200px;
      background: #333;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -200px; }

section {
  width: 100%;
  padding: 200px 0;
  overflow: hidden; }
  section .inner {
    width: 1180px;
    margin: 0 auto;
    min-height: 300px;
    position: relative; }
    section .inner h1 {
      font: bold 15px/1 'arial';
      color: #666;
      text-align: center;
      margin-bottom: 50px; }
    section .inner p {
      width: 100px;
      height: 100px;
      background: #333;
      position: absolute;
      top: 0;
      left: 0; }

#brand {
  background: #eee; }
  #brand .inner {
    width: 1180px;
    margin: 0 auto; }
    #brand .inner .wrap {
      width: 100%; }
      #brand .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #brand .inner .wrap article {
        width: 280px;
        height: 200px;
        background: #444;
        float: left;
        margin-right: 20px;
        transition: 0.5s;
        transform: translateY(100px);
        opacity: 0; }
        #brand .inner .wrap article:nth-of-type(1) {
          transition-delay: 0s; }
        #brand .inner .wrap article:nth-of-type(2) {
          transition-delay: 0.2s; }
        #brand .inner .wrap article:nth-of-type(3) {
          transition-delay: 0.4s; }
        #brand .inner .wrap article:nth-of-type(4) {
          transition-delay: 0.6s;
          margin-right: 0; }
  #brand.on .inner .wrap article {
    opacity: 1;
    transform: translateY(0px); }

#crew ul {
  perspective: 900px; }
  #crew ul::after {
    content: '';
    display: block;
    clear: both; }
  #crew ul li {
    width: 49%;
    height: 80px;
    background: skyblue;
    margin-bottom: 20px;
    opacity: 0;
    transform: rotateY(80deg);
    transition: 0.5s; }
    #crew ul li:nth-of-type(odd) {
      float: left;
      transform-origin: right center;
      transform: rotateY(80deg); }
    #crew ul li:nth-of-type(even) {
      float: right;
      transform-origin: left center;
      transform: rotateY(-80deg); }
    #crew ul li:nth-of-type(1) {
      transition-delay: 0.1s; }
    #crew ul li:nth-of-type(2) {
      transition-delay: 0.2s; }
    #crew ul li:nth-of-type(3) {
      transition-delay: 0.3s; }
    #crew ul li:nth-of-type(4) {
      transition-delay: 0.4s; }
    #crew ul li:nth-of-type(5) {
      transition-delay: 0.5s; }
    #crew ul li:nth-of-type(6) {
      transition-delay: 0.6s; }
    #crew ul li:nth-of-type(7) {
      transition-delay: 0.7s; }
    #crew ul li:nth-of-type(8) {
      transition-delay: 0.8s; }
    #crew ul li:nth-of-type(9) {
      transition-delay: 0.9s; }
    #crew ul li:nth-of-type(10) {
      transition-delay: 1s; }
#crew.on ul li {
  opacity: 1;
  transform: rotateY(0deg); }

#footer {
  width: 100%;
  padding: 80px 0;
  border-top: 1px solid #bbb; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    min-height: 300px; }
    #footer .inner p {
      font: 14px/1 'arial';
      color: #888;
      letter-spacing: 2px;
      text-align: center; }

#navi {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%); }
  #navi li {
    margin: 20px 0; }
    #navi li a {
      display: block;
      width: 10px;
      height: 10px;
      background: #888;
      border-radius: 5px;
      transition: 0.5s; }
      #navi li a.on {
        background: #111;
        height: 60px; }

/*# sourceMappingURL=style.css.map */
