@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

#header {
    width: 100%;
    background: #fff;

    .inner {
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        position: relative;

        h1 {
            position: absolute;
            left: 0;
            bottom: 20px;
            font: bold 18px/1 'arial';
            color: #555;
        }
    }
}

#visual {
    width: 100%;
    background: rgb(255, 189, 200);

    .inner {
        width: 1180px;
        height: 100vh;
        margin: 0 auto;
        position: relative;

        p {
            width: 400px;
            height: 200px;
            background: #333;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -200px;
        }
    }
}

section {
    width: 100%;
    padding: 200px 0;
    overflow: hidden;

    .inner {
        width: 1180px;
        margin: 0 auto;
        min-height: 300px;
        position: relative;

        h1 {
            font: bold 15px/1 'arial';
            color: #666;
            text-align: center;
            margin-bottom: 50px;
        }

        p {
            width: 100px;
            height: 100px;
            background: #333;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

#brand {
    background: #eee;

    .inner {
        width: 1180px;
        margin: 0 auto;

        .wrap {
            width: 100%;

            &::after {
                content: '';
                display: block;
                clear: both;
            }

            article {
                width: 280px;
                height: 200px;
                background: #444;
                float: left;
                margin-right: 20px;
                transition: 0.5s;
                transform: translateY(100px);
                opacity: 0;

                &:nth-of-type(1) {
                    transition-delay: 0s;
                }

                &:nth-of-type(2) {
                    transition-delay: 0.2s;
                }

                &:nth-of-type(3) {
                    transition-delay: 0.4s;
                }

                &:nth-of-type(4) {
                    transition-delay: 0.6s;
                    margin-right: 0;
                }
            }
        }
    }

    &.on {
        .inner .wrap article {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

#crew {

    ul {
        perspective: 900px;

        &::after {
            content: '';
            display: block;
            clear: both;
        }

        li {
            width: 49%;
            height: 80px;
            background: rgb(55, 107, 128);
            margin-bottom: 20px;
            opacity: 0;
            transform: rotateY(80deg);
            transition: 0.5s;

            &:nth-of-type(odd) {
                float: left;
                transform-origin: right center;
                transform: rotateY(80deg);
            }

            &:nth-of-type(even) {
                float: right;
                transform-origin: left center;
                transform: rotateY(-80deg);
            }

            @for $i from 1 through 10 {
                &:nth-of-type(#{$i}) {
                    transition-delay: 0.1s * $i;
                }
            }
        }
    }

    &.on {
        ul li {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
}


#footer {
    width: 100%;
    padding: 80px 0;
    border-top: 1px solid #bbb;

    .inner {
        width: 1180px;
        margin: 0 auto;
        min-height: 300px;

        p {
            font: 14px/1 'arial';
            color: #888;
            letter-spacing: 2px;
            text-align: center;
        }
    }
}

#navi {
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);

    li {
        margin: 20px 0;

        a {
            display: block;
            width: 10px;
            height: 10px;
            background: #888;
            border-radius: 5px;
            transition: 0.5s;

            &.on {
                background: #111;
                height: 60px;
            }
        }
    }
}